:root {
  /* colors */
  --light-gray: rgb(240, 242, 245); /* background of body */
  --background-lighter-gray: rgb(245, 246, 247); /* used in main, avatar icon */
  --background-blue-gray: rgb(239, 243, 248); /* used in buttons */
  --text-light-gray: rgb(120, 129, 161); /* used in sidebar, main */
  --text-gray: rgb(81, 88, 107); /* used in info boxes */
  --text-blue: rgb(0, 49, 113); /* used in buttons */
  --medium-blue: rgb(44, 120, 255); /* used in info box */
  --orange: rgb(255, 141, 54); /* used in info box */
  --red: rgb(255, 33, 63); /* used in info box */
  --focus-outline-color: rgb(2, 40, 90);
  /* box shadow */
  --box-shadow-around: 0px 3px 5px rgba(0, 0, 0, 0.1); /* used in main */
  --box-shadow-right: 0px 0px 5px rgba(0, 0, 0, 0.1); /* used in sidebar */
  --box-shadow-bottom-and-right: 0px 2px 2px rgba(0, 0, 0, 0.2); /* used in active sidebar link */
  /* sizes */
  --header-height: 80px;
  --gutter-width: 24px;
  --side-bar-width: 240px;
  --side-bar-margin-left: 28px;
}
